<!DOCTYPE html>
<html lang="en">
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Edupro</title>
      <link rel="stylesheet" href="/style3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	    <link rel="icon" href="https://www.podilatis.gr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/a/lastfs_4.jpg">
            <link href='https://fonts.googleapis.com/css?family=Rajdhani' rel='stylesheet'>
</head>


<body>

<!--<div class="login-wrap">
 
	<div class="login-html">
                <label  ><p class="w3-center"style="font-size:160%;">Welcome to Edupro</p></label>
		<label> </label>
<p class="w3-center">Create an account or login</p>
<a class="btn btn-primary btn-block btn-large" href="/register"><p class="w3-center" style="font-size:80%;">Register as Student</p></a>
<a class="btn btn-primary btn-block btn-large" href="/registerprofessor"><p class="w3-center" style="font-size:80%;">Register as Professor</p></a>
<a  class="btn btn-primary btn-block btn-large"href="/login"> <p class="w3-center"style="font-size:80%;">Login</p></a>
<a  class="btn btn-primary btn-block btn-large"href="/homeguest"><p class="w3-center"style="font-size:80%;">Guest</p></a>
	</div>
</div>-->

<div class="stage">
    <div class="wrapper">
        <div class="slash"></div>
        <div class="sides">
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
        </div>
        <div class="text">
            <div class="text--backing">EduPro</div>
            <div class="text--left">
                <div class="inner">EduPro</div>
            </div>
            <div class="text--right">
                <div class="inner">EduPro</div>
            </div>
        </div>
    </div>
</div>

<div class="stage">
    <div class="wrapper">
        <div class="slash"></div>
        <div class="sides">
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
        </div>
        <div class="text">
            <div class="text--backing" style="color:white;">Discover the best Professor ..</div>
             <div class="text--backing" style="color:white;"> Professor ..</div>
            <div class="text--left">
                <div class="inner"style="color:white;">Discover the best Professor for you...</div>
            </div>
            <div class="text--right">
                <div class="inner"style="color:white;">Discover the best Professor for you...</div>
            </div>
        </div>
    </div>
</div>

 <div class="ListeObjekt">
     
        <a href="/register">
        <img class="VinIkon" src="https://www.podilatis.gr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/a/lastfs_4.jpg" alt="Go to W3Schools!"/>
        </a>
       <span class="VinNavn"></span>
      <span class="VinInfo">Register as student</span>
    </div>    
    
        <div class="ListeObjekt">
        <a href="/registerprofessor">
        <img class="VinIkon" src="https://www.podilatis.gr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/a/lastfs_4.jpg" alt="Go to W3Schools!"/>
        </a>
           <span class="VinNavn"> </span>
          <span class="VinInfo">Register as Professor</span>
    </div>  
       <div class="ListeObjekt">
        <a href="/login">
        <img class="VinIkon" src="https://www.podilatis.gr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/a/lastfs_4.jpg" alt="Go to W3Schools!"/>
        </a>
           <span class="VinNavn"> </span>
          <span class="VinInfo">Login</span>
    </div>  

     <div class="ListeObjekt">
        <a href="/auth/home">
        <img class="VinIkon" src="https://www.podilatis.gr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/a/lastfs_4.jpg" alt="Go to W3Schools!"/>
        </a>
           <span class="VinNavn"> </span>
          <span class="VinInfo">Guest</span>
    </div>  
</body>
</html>